.\!text-align\:center {
    text-align: center !important;
}

.\!visually-hidden {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    width: 1px !important;
    border: none !important;
    padding: 0px !important;
}

.animate-insertion {
    animation: insertion 75ms ease-out backwards;
}
.animate-deletion {
    animation: insertion 75ms ease-in backwards;
    animation-direction: reverse;
}
@keyframes insertion {
    0% {
        opacity: 0;
        transform: scale(0.98) translate(0, -2rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.animate-move-down {
    animation: move-down 75ms ease-in-out backwards;
}
@keyframes move-down {
    0% {
        transform: translate(0, -2rem);
    }
    100% {
        transform: none;
    }
}

.animate-move-up {
    animation: move-up 75ms ease-in-out backwards;
}
@keyframes move-down {
    0% {
        transform: translate(0, 2rem);
    }
    100% {
        transform: none;
    }
}