.\!text-align\:center {
    text-align: center !important;
}

.\!visually-hidden {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    width: 1px !important;
    border: none !important;
    padding: 0px !important;
}

.animate-insertion {
    animation: insertion var(--to-do-animation-duration) ease-out backwards;
}
@keyframes insertion {
    0% {
        opacity: 0;
        transform: scale(0.98) translate(0, -2rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.animate-deletion {
    animation: deletion var(--to-do-animation-duration) ease-in forwards;
}
@keyframes deletion {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.animate-move-down {
    animation: move-down var(--to-do-animation-duration) ease-in-out backwards;
}
@keyframes move-down {
    0% {
        transform: translate(0, -2rem);
    }
    100% {
        transform: none;
    }
}

.animate-move-up {
    animation: move-up var(--to-do-animation-duration) ease-in-out backwards;
}
@keyframes move-up {
    0% {
        transform: translate(0, 2rem);
    }
    100% {
        transform: none;
    }
}