@import url(_normalize.css);
@import url(_defaults.css);
@import url(_variables.css);
@import url(_utilities.css);
@import url(modules/atoms/button.css);
@import url(modules/molecules/add-item.css);
@import url(modules/organisms/todo-list.css);

body {
    margin: 1rem;
}

input[type="text"] {
    border: 0.25rem solid black;
    padding: 0.5rem;
    border-radius: 0.125rem;
}

input[type="text"]:focus {
    outline: 0.125rem solid transparent;
    box-shadow: 0 0 0 0.125rem #E24AE6;
}

.stack > * + * {
    margin-top: 1rem;
}

/* TODO: USE FOCUS VISIBLE TO REMOVE FOCUS FROM BUTTON WHEN CLICK ON IT */