.todo-list > h1 {
    margin: 0;
    margin-bottom: -1rem;
}

.todo-list > .stack > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.todo-list__empty-state-panel {
    display: none;
}

.todo-list > .stack > ul:empty + .todo-list__empty-state-panel {
    display: block;
    padding: 0.5rem;
    border: 0.25rem solid black;
    border-radius: 0.25rem;
    max-width: max-content;
}

.todo-list__item {
    display: flex;
    align-items: center;
    min-height: 4rem;
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid black;
}

.todo-list__item:focus-within {
    background-color: var(--focus-background-color);
}

.todo-list__item > span[id$="-label"] {
    padding: 0.125rem;
    max-width: calc(100% - 4rem);
    margin-left: 0.5rem;
    margin-right: auto;
    border-radius: 0.1  25rem;
}

.todo-list__item > span[id$="-label"]:focus {
    outline: 0.125rem solid transparent;
    box-shadow: 0 0 0 0.125rem var(--focus-outline-color);
}

.todo-list__item > input[type="checkbox"]:checked + span[id$="-label"] {
    text-decoration: line-through;
}

.todo-list__item > button {
    display: none;
    position: absolute;
    left: 10000rem;
    top: 10000rem;
}

.todo-list__item:hover > button,
.todo-list__item:focus-within > button {
    display: block;
    position: static;
}

.todo-list__item > button > img {
    height: 1.5rem;
}
